<% @videos.each do |video| %>
    <div class="videopost">
      <div class="row">
        <div class="col-md-1"> 
          <button type="button" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></button>
          <div class="number-likes">54</div>
          <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-down"></i></button>
          <div class="number-dislikes">14</div>
        </div>
        <div class="col-md-3">
          <img src="http://img.youtube.com/vi/IrJkyFeJ2Fc/mqdefault.jpg" height="125px" width="221px">
        </div> 
          <div class="videoTitle"><%= video.title %></div>
          <%= video.url %>
      </div>  
    </div>  
    <hr>
<% end %>