<div id="footer">
	<div class="container">
		<ul class="footer-nav">
			<li><%= link_to "Legal", welcome_privacy_path %></li>
			<li><%= link_to "Terms", welcome_tos_path %></li>
			<li><%= link_to "Help", welcome_help_path %></li><br>
			<div class="copyright">Copyright &copy; 2015 by Vidroo.</div>
		</ul>
	</div>	
</div>
