<!-- Code For Filter Sidebar -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filter</h3>
  </div>
  <div class="panel-body">
    <div class="filter">
    	<%= form_tag videos_path, method: :get do %>
    		<div class="filterName">Game Type:</div>
    		<select name="game" id="game" class="form-control form-group">
    			<option disabled selected>Choose Your Favorite Game</option>
    			<option value="minecraft">Minecraft</option>
    			<option value="call of duty">Call Of Duty</option>
    			<option value="grand theft auto">Grand Theft Auto</option>
    			<option value="league of legends">League Of Legends</option>
    			<option value="fifa">FIFA</option>
    			<option value="garry's mod">Garry's Mod</option>
    			<option value="the sims">The Sime</option>
    			<option value="five nights at freddy\'s">Five Nights at Freedy's</option>
    			<option value="puzzles and dragons">Puzzles And Dragons</option>
    			<option value="dota 2">DOTA 2</option>
    			<option value="metal gear solid">Metal Gear Solid</option>
    			<option value="fallout">Fallout</option>
    			<option value="counterstrike">CounterStrike</option>
    			<option value="diablo">Diablo</option>
    		</select>
    		<div class="filterName">Best Of:</div>
    		<select name="date" id="date" class="form-control form-group">
    			<option value="0">Today</option>
    			<option value="3">3 Days</option>
    			<option value="5">5 Days</option>
    			<option value="7">1 Week</option>
    			<option value="30">1 Month</option>
    			<option value="90">3 Months</option>
    			<option value="365">1 Year</option>
    			<option value="1000000000">All Time</option>
    		</select>
    		<center><%= submit_tag "Filter", name: nil, class:"btn btn-default" %></center>
    	<% end %>
    </div>	
  </div>
</div>